/* 가계부 목록 start */

.consumption-details {
  margin: 12px 20px;
  &-list {
    list-style: none;
    padding: 0;
  }
}

.consumption-details-per-day {
  margin-top: 32px;
}

.consumption-details-per-day:first-child {
  margin-top: 20px;
}

.consumption-details-date {
  font-size: 13px;
  margin-bottom: 10px;
}

.consumption-details-item {
  background-color: white;
  border-radius: 12px;
  padding: 18px 14px 8px;
  margin-bottom: 10px;
}

.consumption-details-item-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.consumption-details-item-column .create-at {
  font-size: 13px;
}

.consumption-details-item-column .consumption-details-detail {
  width: 100%;
  margin: 0 16px;
  font-size: 18px;
}

.consumption-details-item-column .consumption-details-detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.consumption-details-item-column .consumption-details-detail-subtitle {
  text-align: right;
}

.consumption-details-item-column .consumption-details-detail-body {
  margin: 0px;
  font-size: 14px;
  text-align: right;
}

.consumption-details-item-column .delete-button {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  min-width: 48px;
  min-height: 48px;
  cursor: pointer;
}

.consumption-details-item-column .delete-section {
  display: flex;
  align-items: center;
}

.consumption-details-item-caption {
  border-top: 1px solid #e0e0e0;
  padding-top: 8px;
  font-size: 13px;
  text-align: right;
}
